<section class="discovery">
	<div class="inner_container">
		<div class="introduction" *ngIf="!is_intro_hidden">
			<span class="close" (click)="hide_intro()"></span>
			<div class="header">
				<img src="../../../assets/images/discovery-illustration.svg" alt="Rocket launch">
			</div>
			<div class="body">
				<h1>Expat manual to your service</h1>
				<p>Expat manual has for goal to help you settling up in a new place (Sydney, as for a start) by giving you the information that matter before, during, and after you established. <span class="highlight">If you ever setteled in a new country, for a month or a decade, you probably struggle filling up administrative paper, or searching for a not too touristic place.</span> I certainly did and I that is why I try to make it easier for someone new to settle. <br>
				Our resources are divided by article and categories for a better search. Below, a timeline of resrources in function of the time of the year. </p>
			</div>
		</div>

		<div class="shortcut">
			<ul>
				<li class="shortcut" *ngFor="let article of highlighted_articles | async" routerLink="/article/{{article._id}}">
					<h4>{{article.content.title}}</h4>
					<p class="icon"></p>
				</li>
				<li class="newsletter">
					<h4>Get our updates by mail</h4>
					<input type="text" placeholder="emily.kelly@gmail.com">
					<a class="button">Suscribe</a>
				</li>
			</ul>
		</div>

		<div class="article">
			<div class="month">
				<div class="header">
					<h3>May 2018</h3>
				</div>
				<div class="body">
					<article *ngFor="let article of all_articles | async">
						<div class="left" [style.backgroundImage]="'url(' + article.content.header + ')'"></div>
						<div class="right">
							<h4>{{article.content.title}}</h4>
							<p class="small">{{article.edit_date | amCalendar}}</p>
							<p class="description">{{article.content.short_content}}</p>
							<a class="link" routerLink="/article/{{article._id}}">Read Article →</a>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>