# See http://help.github.com/ignore-files/ for more about ignoring files.

#PUBLIC
# compiled output
/public/dist
/public/dist-server
/public/tmp
/public/out-tsc
# dependencies
/public/node_modules
/public/src/environments
# IDEs and editors
/public/.idea
/public/.project
/public/.classpath
/public/.c9/
/public/*.launch
/public/.settings/
/public/*.sublime-workspace
# IDE - VSCode
/public/.vscode/*
/public/!.vscode/settings.json
/public/!.vscode/tasks.json
/public/!.vscode/launch.json
/public/!.vscode/extensions.json
# misc
/public/.sass-cache
/public/connect.lock
/public/coverage
/public/libpeerconnection.log
/public/npm-debug.log
/public/testem.log
/public/typings
# e2e
/public/e2e/*.js
/public/e2e/*.map
# System Files
/public/.DS_Store
/public/Thumbs.db


#BACKEND
# compiled output
/backend/dist
/backend/dist-server
/backend/tmp
/backend/out-tsc
# dependencies
/backend/node_modules
/backend/src/environments
# IDEs and editors
/backend/.idea
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace
# IDE - VSCode
/backend/.vscode/*
/backend/!.vscode/settings.json
/backend/!.vscode/tasks.json
/backend/!.vscode/launch.json
/backend/!.vscode/extensions.json
# misc
/backend/.sass-cache
/backend/connect.lock
/backend/coverage
/backend/libpeerconnection.log
/backend/npm-debug.log
/backend/testem.log
/backend/typings
# e2e
/backend/e2e/*.js
/backend/e2e/*.map
# System Files
/backend/.DS_Store
/backend/Thumbs.db


# SERVER
# dependencies
/server/node_modules
/server/config.js


#DATABASE
/database/*

#DEMO PUBLIC
# compiled output
/demos/public/dist
/demos/public/dist-server
/demos/public/tmp
/demos/public/out-tsc
# dependencies
/demos/public/node_modules
/demos/public/src/environments
# IDEs and editors
/demos/public/.idea
/demos/public/.project
/demos/public/.classpath
/demos/public/.c9/
/demos/public/*.launch
/demos/public/.settings/
/demos/public/*.sublime-workspace
# IDE - VSCode
/demos/public/.vscode/*
/demos/public/!.vscode/settings.json
/demos/public/!.vscode/tasks.json
/demos/public/!.vscode/launch.json
/demos/public/!.vscode/extensions.json
# misc
/demos/public/.sass-cache
/demos/public/connect.lock
/demos/public/coverage
/demos/public/libpeerconnection.log
/demos/public/npm-debug.log
/demos/public/testem.log
/demos/public/typings
# e2e
/demos/public/e2e/*.js
/demos/public/e2e/*.map
# System Files
/demos/public/.DS_Store
/demos/public/Thumbs.db


#DEMO BACKEND
# compiled output
/demos/backend/dist
/demos/backend/dist-server
/demos/backend/tmp
/demos/backend/out-tsc
# dependencies
/demos/backend/node_modules
/demos/backend/src/environments
# IDEs and editors
/demos/backend/.idea
/demos/backend/.project
/demos/backend/.classpath
/demos/backend/.c9/
/demos/backend/*.launch
/demos/backend/.settings/
/demos/backend/*.sublime-workspace
# IDE - VSCode
/demos/backend/.vscode/*
/demos/backend/!.vscode/settings.json
/demos/backend/!.vscode/tasks.json
/demos/backend/!.vscode/launch.json
/demos/backend/!.vscode/extensions.json
# misc
/demos/backend/.sass-cache
/demos/backend/connect.lock
/demos/backend/coverage
/demos/backend/libpeerconnection.log
/demos/backend/npm-debug.log
/demos/backend/testem.log
/demos/backend/typings
# e2e
/demos/backend/e2e/*.js
/demos/backend/e2e/*.map
# System Files
/demos/backend/.DS_Store
/demos/backend/Thumbs.db