// =============================================================================
// IMPORT
// =============================================================================
@import "../../../assets/styles/ui_mixines";

section.modal{
	position: fixed;
	top: 110%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 200;
	transition: all 200ms;

	&.active{
		top: 0;
	}
	div.dark_filter{
		background-color: #F9FAFC;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	div.card{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		div.header{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 75px;
			background-color: white;

			h2{
				font-family: 'istok';
				font-weight: 400;
				font-size: 16px;
				color: $primary_blue_dark;
				width: calc(100% - 52px);
				line-height: 75px;
				margin-left: 20px;
				text-align: left;
			}
			span.icon{
				color: $primary_blue_dark;
				font-size: 32px;
				font-family: 'font_awesome';
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}
		div.body{
			textarea{
				width: calc(90% - 48px);
				font-family: 'istok';
				font-size: 16px;
				color: $primary_blue_dark;
				margin: 100px 5% 0;
				padding: 24px;
				resize: none;
				border: none;
			}
			p.informational_message{
				font-size: 12px;
				font-weight: 200;
				color: $classic_red;
				margin: 5px 5% 0;

				&::ng-deep span{
					font-family: 'font_awesome';
					font-weight: 300;
				}
			}
		}
		div.footer{
			width: 100%;
			overflow: auto;

			a.button{
				display: block;
				background-color: $secondary_yellow_med;
				padding: 0 18px;
				height: 50px;
				color: white;
				font-family: 'istok';
				color: white;
				line-height: 50px;
				border-radius: 3px;
				width: 150px;
				text-align: center;
				float: right;
				margin: 12px 5% 0 0;
				cursor: pointer;
				transition: all 200ms;

				&:hover{
					background-color: lighten($secondary_yellow_med, 15%);
				}
			}
		}
	}
}


section.article{
	padding: 40px 0 120px;

	div.breadcrumb{
		@include container_sizing( 600px );
		overflow: auto;
		margin-bottom: 16px;
		cursor: pointer;

		&:hover{
			span.icon{ color: lighten($primary_blue_dark, 15%); }
			p{ color: lighten($primary_blue_dark, 15%); }
		}
		span.icon{
			font-family: 'font_awesome';
			font-size: 18px;
			color: $primary_blue_dark;
			float: left;
			transition: all 200ms;
		}
		p{
			font-family: 'istok';
			font-size: 18px;
			float: left;
			margin-left: 12px;
			color: $primary_blue_dark;
			transition: all 200ms;
		}
	}

	div.card{
		@include container_sizing( 600px );
		box-shadow: 0px 0px 5px rgba(black, .2);
		border-radius: 3px;
		background-color: white;


		div.hero{
			width: 100%;
			height: 300px;
			background-position: center center;
			background-size: cover;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}
		div.header{
			padding: 24px 12px;

			h1{
				font-family: 'istok';
				font-size: 28px;
				color: $primary_blue_dark;
				font-weight: 400;
			}
			p{
				margin-top: 6px;
				@include primary_text( $primary_blue_light );
			}
		}
		div.article{
			padding: 24px 12px;
			position: relative;

			&:before{
				content: '';
				width: 32px;
				height: 2px;
				position: absolute;
				top: 0;
				left: 12px;
				background-color: $secondary_yellow_med;
			}
			h3{
				font-size: 18px;
				font-weight: 400;
				font-family: 'istok';
				color: $primary_blue_dark;
			}
			p.small{
				margin-top: 0px;
				font-size: 8px;
				color: rgba($primary_blue_med, .5);
				text-transform: uppercase;
				font-family: 'istok';
				margin-bottom: 9px;
			}
			p{
				margin-top: 6px;
				@include primary_text( $primary_blue_light );

				&::ng-deep a{
					color: $secondary_yellow_med;
					transition: color 200ms;

					&:hover{
						color: darken($secondary_yellow_med, 15%);
					}
				}
				&::ng-deep h3{
					margin-top: 20px;

					&:first-child{
						margin-top: 0;
					}
				}
				&::ng-deep code{
					padding: 0px 4px;
					background: linear-gradient(to right, rgba($secondary_yellow_med, .2) 0%, rgba(lighten($secondary_yellow_med, 25%), .2) 100%);
					box-decoration-break: clone;
				}
				&::ng-deep img{
					display: block;
					width: 100%;
				}
				&::ng-deep li{
					list-style-type: circle;
					margin: 0 0 10px 20px;
				}
			}
		}
		div.footer{
			padding: 24px 10px;

			h3{
				font-size: 18px;
				font-weight: 400;
				font-family: 'istok';
				margin: 0 2px 10px;
				color: $primary_blue_dark;
			}
			div.tags{
				overflow: auto;

				span.tag{
					display: block;
					float: left;
					background-color: #F7F8FA;
					border-radius: 20px;
					margin: 2px;
					font-size: 10px;
					padding: 6px 12px;
					color: $primary_blue_light;
					text-decoration: uppercase;
					font-family: 'istok';
					text-transform: uppercase;
				}
			}
			p{
				color: rgba($primary_blue_med, .5);
				font-size: 14px;
				font-family: 'istok';
				margin: 20px 0;

				span{
					font-family: 'istok';
	
					&::ng-deep p{
						color: rgba($primary_blue_med, .5);
						font-size: 14px;
						font-family: 'istok';
						margin: 0;
						display: inline;
	
						a{
							font-family: 'istok';
							color: $secondary_yellow_med;
							transition: color 200ms;
	
							&:hover{
								color: darken($secondary_yellow_med, 15%);
							}
						}
					}
				}
			}
			a.error{
				color: $classic_red;
				font-size: 14px;
				font-family: 'istok';
				margin: 20px 0;
				transition: all 200ms;
				cursor: pointer;

				&:hover{
					color: lighten($classic_red, 15%);
				}
			}
		}
	}
}

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){
	section.modal{
		transition: all 0ms;
	
		&.active{}
		div.dark_filter{
			background-color: rgba(black, .4);
		}
		div.card{
			@include container_sizing( 500px );
			position: relative;
			top: intial; bottom: intial; left: intial; right: intial;
			margin-top: 10%;
			padding-bottom: 30px;

			background-color: #F9FAFC;
			box-shadow: 0px 0px 10px rgba(black, .5);
			border-radius: 3px;
	
			div.header{
				background-color: transparent;
	
				h2{}
				span.icon{
					font-size: 24px;
					top: 24px;
					cursor: pointer;
					transition: all 200ms;

					&:hover{
						color: lighten($primary_blue_dark, 25%);
					}
				}
			}
			div.body{
				textarea{
					height: 200px;
				}
			}
			div.footer{
				a.button{
					&:hover{}
				}
			}
		}
	}

	section.article{
		div.breadcrumb{
			span.icon{}
			p{}
		}
	
		div.card{
			div.hero{}
			div.header{
				padding: 32px 24px;
	
				h1{}
				p{}
			}
			div.article{
				padding: 32px 24px;

				&:before{
					left: 24px;
				}
				h3{}
				p.small{}
				p{
					column-count: 2;
					column-gap: 20px;
				}
			}
			div.footer{
				padding: 32px 24px;

				h3{}
				div.tags{
					span.tag{}
				}
				p{}
				a.error{}
			}
		}
	}
}

/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}


/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}