// =============================================================================
// IMPORT
// =============================================================================
@import "../../../styles";

section.article{
	div.left_container{
		width: calc(25% - 60px);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: $light_grey;
		padding: 30px;

		ul{
			margin:0;
			padding:0;

			h4{
				text-align: left;
				font-family: 'courier new';
				padding: 0 0 20px 0;
				color: $dark_primary;
			}
			li{
				font-family: 'courier new';
				line-height: 30px;
				transition: all 200ms;
				cursor: pointer;
				position: relative;
				border-radius: 3px;
				list-style-type: none;
				padding: 10px 10px;

				&:hover{
					background-color:rgba($dark_primary, .1);
				}
				span.icon{
					display: inline;
					line-height: 30px;
					margin-right: 10px;
					font-family: 'font_awesome';
					font-size: 12px;
					color: $dark_primary;

				}
				p{
					display: inline;
					font-family: 'courier new';
					line-height: 30px;
					color: $dark_primary;
				}
			}
		}
	}
	div.center_container{
		position: absolute;
		top: 0;
		left: 25%;
		right: 0;
		bottom: 0;
		overflow: auto;
		padding-bottom: 100px;


		div.inner_container{
			width: calc(100% - 100px);
			max-width: 800px;
			margin: 50px auto 0;

			div.illustration{
				width: 100%;
				height: 300px;
				margin: 0 0 20px 0;
				background-color: $light_grey;
				background-position: center center;
				background-size: cover;
				border-radius: 3px;
			}
			input.header_1{
				font-family: 'courier new';
				font-weight: 800;
				width: 100%;
				border: none;
				margin: 0 0 50px;
				font-size: 72px;
				color: $dark_primary;
			}
			ul.tab{
				padding: 0 0 20px;
				li{
					font-family: 'courier new';
					font-weight: 400;
					font-size: 16px;
					display: inline;
					cursor: pointer;

					&:first-child{
						margin-right: 15px;
					}
					&:hover, &.active{
						text-decoration: underline;
					}
				}
			}
			textarea.markdown{
				width: calc(100% - 40px);
				height: 500px;
				background-color: #F7F7F7;
				resize: none;
				border: none;
				border-radius: 3px;
				padding: 20px;
				font-family: 'courier new';
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
			}
			div.preview{
				width: calc(100% - 40px);
				height: auto;
				min-height: 500px;
				padding: 20px;
				background-color: red;
			}
		}	
	}
}