<section class="dashboard">
	<div class="left_container">
		<ul>
			<h4>Food and drinks <sup>(234)</sup></h4>
			<li>
				<span class="icon"></span>
				<p>Cafe</p>
			</li>
			<li>
				<span class="icon"></span>
				<p>Bar</p>
			</li>
			<li>
				<span class="icon"></span>
				<p>Restaurant</p>
			</li>
			<li>
				<span class="icon"></span>
				<p>kiwi</p>
			</li>
		</ul>
	</div>
	<div class="center_container">
		<div class="inner_container">
			<h1><span class="icon"></span> Cafe</h1>
			<ul>
				<li>
					<span class="icon"></span>
					<a routerLink="/article">Grandmas</a>
				</li>
				<li>
					<span class="icon"></span>
					<a  routerLink="/article">The Grounds of Alexandria</a>
				</li>
			</ul>
		</div>
	</div>
</section>