<section class="dashboard">
	<div class="left_container">
		<ul *ngFor="let main_categorie of categories; index as primary_index" >
			<h4>{{main_categorie.title}} <sup>({{main_categorie.article_count}})</sup></h4>
			<li *ngFor="let sub_category of main_categorie.sub_categories; index as secondary_index" (click)="select_category(primary_index, secondary_index)" >
				<span class="icon">{{sub_category.icon}}</span>
				<p>{{sub_category.title}}</p>
			</li>
		</ul>
	</div>
	<div class="center_container">
		<div class="inner_container">
			<h1><span class="icon">{{selected_category.icon}}</span> {{selected_category.title}}</h1>
			<ul>
				<li *ngFor="let article of all_articles | async | articles_pipe:selected_category.title">
					<span class="icon" *ngIf="article.status == true" (click)="switch_status(article._id)"></span>
					<span class="icon" *ngIf="article.status == false" (click)="switch_status(article._id)"></span>
					<a routerLink="/article/{{article._id}}">{{article.content.title}}</a>
				</li>
				<li class="add_article">
					<span class="icon"></span>
					<input [(ngModel)]="new_article_title" (keyup.enter)="put_article()" type="text" placeholder="Create a new article">
				</li>
			</ul>
		</div>
	</div>
</section>